%%滚动日志和错误
[{sasl,[
	%% 最小化shell错误记录
	{sasl_error_logger, false},
	%% 只报告错误
	{errlog_type, error},
	%% 定义滚动日志的参数
	%% 日志文件的目录
    {error_logger_mf_dir, "E:/erlangProgram/ChatSystem/error_log"},
	%% 每个日志文件的字节数
	{error_logger_mf_maxbytes, 10485760},
	%% 日志文件的最大数量
	{error_logger_mf_maxfiles, 20}
	]}].